.root {
    position: relative;
}

.options {
    position: absolute;
    top: 0;
    right: 45px;
    background: white;
    border-radius: 10px;
    width: 120px;
}

.option {
    text-align: center;
    padding: 4px;
    width: calc(100% - 8px);
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background: #c0d0d082;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 0 4px; 
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #c0d0d082;
    border-radius: 10px;
}