.elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #00838F;
  max-width: 80%;
  margin: 8px auto;
  padding: 10px 15px;
  border-radius: 10px;
}

.pending {
  background-color: #2195f336;
}

.progress {
  background-color: #3af32136;
}

.done {
  background-color: #f3212136;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.text {
  word-break: break-word;
  flex-grow: 1;
}

.completed {
  text-decoration: line-through;
  color: #666;
}

@media (max-width: 768px) {
  .elem {
    max-width: 90%;
    padding: 8px 12px;
  }
}
